body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-image: linear-gradient(to bottom, #33b5e5, #007bff);
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header-content {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .social-media li {
    display: inline-block;
    padding: 5px;
  }
  
  .social-media li a {
    font-size: 18px;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .education,
  .licenses,
  .skills {
    margin-bottom: 